*{
	margin: 0px;
	padding: 0px;
}
#top{
	width: 970px;
	margin: 0px auto;
	padding: 10px;
	background-color: steelblue;
	border-bottom: solid;
}
#navigation{
	width: 300px;
	display: inline-block;
	vertical-align: top;
}
#navigation li{
	color: yellow;
	list-style-position: inside;
	text-align: center;
	margin-top: 5px;
}
u{
	color: white;
}
#content{
	width: 600px;
	display: inline-block;
	color: white;
	text-align: center;
}
#content h3{
	color: yellow;
	margin-top: 5px;
}
#content h4{
	margin-top: 5px;
}
#middle{
	width: 970px;
	margin: 0px auto;
	margin-bottom: 10px;
	margin-top: 20px;
}
#left{
	vertical-align: top;
}
#left, #right{
	width: 400px;
	margin-left: 55px;
	padding-top: 10px;
	display: inline-block;
	text-align: center;
	border-top-style: solid;
	border-color: steelblue;
}
#left li, #right li{
	margin-left: 20px;
	list-style-type: square;
	text-decoration-color: black;
}
#bottom{
	width: 970px;
	margin: 0px auto;
	padding: 50px 10px 10px 10px;
	text-align: center;
	background-color: steelblue;
	color: darkgrey;
}
.footer{
	display: inline-block;
	margin-left: 40px;
}
h6{
	margin-top: 20px;
}
span{
	color: darkgrey;
}
#shrink{
	color: darkgrey;
	font-size: 13px;
}