
/*I started by reseting the CSS. Created a yellow background.
Centered the title with margin-left. Gave every image a border,
margin, padding, and background color. The odd images have
picture frame look with the black border, padding purple, and
the background of the image white. The even images have a black
border with the rest of the background red. I removed the border
from the images in the title.*/

*{
	margin: 0px;
	padding: 0px;
}
#wrapper{
	width: 960px;
	margin: 0px auto;
	padding-bottom: 20px;
	background-color: yellow;
}
#title{
	margin-left: 160px;
}
h1{
	display: inline-block;
	margin-left: 20px;
}
img{
	background-color: white;
	margin-left: 20px;
	margin-top: 20px;
	border-style: solid;
	border-color: black;
	padding: 10px;
}
.even{
	background-color: red;
}
.odd{
	background-color: purple;
}
.title{
	border-style: none;
}