*{
	margin: 0px;
	padding: 0px;
}
#wrapper{
	width: 960px;
	margin: 0px auto;
	padding-bottom: 20px;
	background-color: yellow;
}
#title{
	margin-left: 160px;
	display: inline-block;
}
img{
	background-color: white;
	margin-left: 20px;
	margin-top: 20px;
	border-style: solid;
	border-color: black;
	padding: 10px;
}
h1{
	display: inline-block;
	margin-left: 20px;
}
.even{
	background-color: red;
}
.odd{
	background-color: purple;
}
.title{
	border-style: none;
}