*{
	margin: 0px;
	padding: 0px;
}
#wrapper{
	width: 970px;
	margin: 0px auto;
	background-color: cadetblue;
	padding: 15px;
}
#nav{
	color: white;
}
#top{
	background-color: green;
	padding: 20px;
}
img{
	position: absolute;
	margin-top: -10px;
}
#top h2{
	margin-left: 60px;
}
#nav{
	margin-left: 150px;
}
#nav p{
	margin-left: 15px;
}
#left{
	width: 200px;
	background-color: darkgreen;
	padding: 15px;
	margin-top: 15px;
	color: white;
	position: absolute;
}
#middle{
	background-color: yellow;
	padding: 0px 0px 20px 20px;
	margin-top: 20px;
}
#middle p{
	margin-top: 10px;
	margin-left: 10px;
	margin-bottom: 10px;
}
#left, #right, #middle, #three, #three div, #top h2, #top p, #nav, #two, #two div, #one{
	display: inline-block;
	vertical-align: top;
}
#right{
	margin-left: 220px;
}
#three div{
	background-color: darkgreen;
	width: 150px;
	height: 150px;
	padding: 10px;
	color: white;
	margin-top: 15px;
	margin-left: 50px;
}
#two div{
	background-color: darkgreen;
	color: white;
	width: 262px;
	height: 150px;
	padding: 10px;
	margin-top: 20px;
	margin-left: 50px;
}
#one{
	background-color: darkgreen;
	color: white;
	width: 599px;
	padding: 10px;
	margin-top: 20px;
	margin-left: 50px;
}
#bottom{
	background-color: green;
	text-align: center;
	padding: 20px;
	margin-top: 20px;
}
#bottom span{
	color: blue;
}