#wrapper{
	width: 970px;
	margin: 0px auto;
}
#header img{
	position: absolute;
}
#header h1{
	padding-top: 15px;
	padding-left: 80px;
}
#header h2{
	background-color: steelblue;
	padding: 10px 0px 10px 15px;
	margin-top: -10px;
	color: white;
}
#header span{
	color: steelblue;
}
#left{
	width: 200px;
	padding: 5px;
	display: inline-block;
	margin-top: -20px;
}
#left p b span{
	color: red;
}
#left p span{
	color: steelblue;
}
#video{
	background-color: steelblue;
	color: white;
	border-radius: 5px;
	padding: 10px 40px;
	margin-bottom: 5px;
}
#resources{
	background-color: orange;
	color: white;
	border-radius: 5px;
	padding: 10px 31px;
}
#ad{
	text-align: center;
	background-image: url(images/ad_background.png);
	padding: 10px;
}
#ad h2{
	color: white;
}
#ad h3{
	background-color: skyblue;
	border-radius: 5px;
	padding: 5px 0px;
	color: white;
}
#ad h3 span{
	color: lightblue;
}
#main{
	display: inline-block;
	vertical-align: top;
	margin-top: -20px;
	margin-left: 30px;
}
#top{
	height: 70px;
	border-bottom: solid;
	border-bottom-width: 1px;
}
#top p{
	display: inline-block;
	color: steelblue;
}
#contact{
	display: inline-block;
	vertical-align: top;
	margin-left: 475px;
}
#contact img{
	position: absolute;
	margin-top: 10px;
	margin-left: -55px;
}
#day{
	margin-top: -1px;
}
#number{
	margin-top: -25px;
	color: skyblue;
}
#national{
	margin-top: -25px;
}
#contact h6, #contact h1{
	text-align: right;
}
#middle{
	display: inline-block;
	width: 700px;
}
li{
	margin-top: 5px;
}
#middle h2, #bottom h2{
	color: steelblue;
	margin-top: 5px;
}
#middle span, #bottom span{
	color: skyblue;
}
#middle img{
	position: relative;
	left: 220px;
}
#bottom{
	width: 700px;
	align-content: flex-end;
	border-top: solid;
	border-left: solid;
	border-right: solid;
	border-color: steelblue;
	padding: 10px;
	margin-left: 230px;
}
#bottom img{
	position: absolute;
}
#bottom .text{
	margin-left: 170px;
}